<div class="container py-3">
  <% if params[:folder_id].present? %>
    <%= link_to drive_path(@folder&.folder_id), class: 'text-decoration-none text-dark' do %>
      <%= image_tag 'icons/folder-mac-icon.ico', width: 40 %>
      <span>..</span>
      <br>
    <% end %>
  <% end %>
  <div id='folders'>
    <%= turbo_stream_from :folders %>
    <% @folders.each do |folder| %>
      <%= render 'virtual_drives/folder', folder: folder %>
    <% end %>
  </div>

  <div id='items'>
    <%= turbo_stream_from :items %>
    <% @files.each do |file| %>
      <%= render 'virtual_drives/item', item: file %>
    <% end %>
  </div>
</div>
