<div id=<%= "user-#{user.id}" %> class="row my-1 users-details mb-1">
  <span class="col-xl-2"><%= user.name %></span>
  <span class="col-xl-3"><%= user.email %></span>
  <span class="col-xl-3"><%= user.seniority %></span>
  <span class="col-xl-3"><%= City.find(user.city_id).name %></span>
  <div class="col-xl-1">
    <%= link_to 'See', user_path(user.id),
                       id: "user-link-#{ user.id }",
                       data: {
                         'turbo-frame': 'modal'
                       } %>
  </div>
</div>
