<div id="usersListing">
  <% if users&.exists? %>
    <div class="row users-header py-2">
      <span class="col-xl-2"><%= t '.table_column_title_name' %></span>
      <span class="col-xl-3"><%= t '.table_column_title_email' %></span>
      <span class="col-xl-3"><%= t '.table_column_title_seniority' %></span>
      <span class="col-xl-3"><%= t '.table_column_title_city' %></span>
      <hr class="mt-1 mb-0">
    </div>
    <% users.each do |user| %>
      <%= render 'users/listing_row', user: user %>
    <% end %>
  <% else %>
    <div class="text-center">
      <div class="col-xl-12 p-5">
        <span class="fs-6">Hmm.., it's empty 🤔</span>
      </div>
    </div>
  <% end %>
</div>
