<div id="app" data-controller='modal-initializer'>
  <a href="#" class="text-info" data-action='click->modal-initializer#launchModal'>See</a>

  <div class="modal" data-controller='modal' data-modal-initializer-target='modal'>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  data-action='click->modal#close'
                  aria-label="Close"></button>
        </div>
        <%= form_for user do |f| %>
          <div class="modal-body">
            <div class="mb-3">
              <%= f.label :name, class: 'form-label' %>
              <%= f.text_field :name, class: 'form-control' %>
            </div>
            <div class="mb-3">
              <%= f.label :email, class: 'form-label' %>
              <%= f.text_field :email, class: 'form-control' %>
            </div>
            <div class="mb-3">
              <%= f.label :seniority, class: 'form-label' %>
              <%= f.text_field :seniority, class: 'form-control' %>
            </div>
            <div class="mb-3">
              <%= f.fields_for :city do |c| %>
                <%= c.label :name, class: 'form-label' %>
                <%= c.text_field :name, class: 'form-control' %>
              <% end %>
            </div>
          </div>
          <div class="modal-footer">
            <%= link_to 'Destroy', user,
                                   method: :delete,
                                   data: { confirm: 'Are you sure?' },
                                   class: 'text-danger' %>
            <%= f.submit 'Submit', class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
