<div data-controller='modal'
     data-modal-user-link-value=<%= user.id ? user.id : 'new' %>>
  <div class="modal-header">
    <h5 class="modal-title"><%= title %></h5>
    <%= link_to '', user, type: 'button',
            class: 'btn-close',
            data: {
              'bs-dismiss': 'modal',
              action: 'click->modal#close'
            },
            aria: { label: 'Close' } %>
  </div>
  <div>
    <%= form_for user do |f| %>
      <div class="modal-body">
        <div class="mb-3 position-relative">
          <% if user.errors[:name].any? %>
            <span class="error-message">
              <%= user.errors[:name].first %>
            </span>
          <% end %>
          <%= f.label :name, class: 'form-label' %>
          <%= f.text_field :name, class: 'form-control',
                                  disabled: disabled_status %>
        </div>
        <div class="mb-3 position-relative">
          <% if user.errors[:email].any? %>
            <span class="error-message">
              <%= user.errors[:email].first %>
            </span>
          <% end %>
          <%= f.label :email, class: 'form-label' %>
          <%= f.text_field :email, class: 'form-control',
                                   disabled: disabled_status %>
        </div>
        <div class="mb-3 position-relative">
          <% if user.errors[:seniority].any? %>
            <span class="error-message">
              <%= user.errors[:seniority].first %>
            </span>
          <% end %>
          <%= f.label :seniority, class: 'form-label' %>
          <%= f.text_field :seniority, class: 'form-control',
                                       disabled: disabled_status %>
        </div>
        <div class="mb-3 position-relative">
          <%= f.fields_for :city,
              f.object.new_record? ? f.object.build_city : f.object.city do |c| %>
            <% if user.city.errors[:name].any? %>
              <span class="error-message">
                <%= user.city.errors[:name].first %>
              </span>
            <% end %>
            <%= c.label 'City name', class: 'form-label' %>
            <%= c.text_field :name, class: 'form-control',
                                    disabled: disabled_status %>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <%= link_to_if(action == 'edit', 'Destroy', user,
                               method: :delete,
                               data: {
                                 confirm: 'Are you sure?',
                                 action: 'click->modal#close'
                               },
                               class: 'text-danger') {} %>
        <%= link_to_if(action == 'show', 'Edit',
                            { controller: :users,
                            action: :edit,
                            id: user.id },
                            data: { "turbo-frame": "modal" },
                            class: 'btn btn-primary text-white') {} %>
        <% if action == 'edit' || action == 'new' %>
          <%= f.submit 'Submit', class: 'btn btn-primary',
                                 data: {
                                   'turbo-frame': 'modal'
                                } %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
