<div class="mx-5">
  <p id="notice"><%= notice %></p>

  <div class="row">
    <div class="col-xl-5">
      <span disabled id="cities-filter-status" data-cities-filter-status='<%= params[:city_ids] %>'></span>
      <%= render 'cities/all_cities', cities: @filters['cities'] %>
      <%= render 'users/seniorities', seniorities: @filters['seniorities'] %>
    </div>
    <div class="col-xl-7">
      <h1 class="text-center">Users</h1>
      <%= form_with url: search_users_path do |form| %>


       <div class="container mt-4">
         <div class="input-group">
           <%= form.text_field 'query', placeholder: 'Enter search terms...',
                                                class: 'form-control rounded' %>
           <%= form.submit 'Search', class: 'btn btn-outline-primary',
                                                data: { disable_with: false } %>
         </div>
       </div>
      <% end %>

      <%= render "users/listing", users: @users %>

    </div>
  </div>
</div>

<%= javascript_pack_tag 'users/index' %>
