<div class="mx-5">
  <div class="row">
    <div class="col-xl-6">
      <%= link_to 'Create user', new_user_path,
                  class: 'm-2 fixed-bottom btn btn-primary text-white',
                  id: 'new-user-link',
                  data: {
                    'turbo-frame': 'modal'
                  } %>
    </div>
    <div class="col-xl-6">
      <%= link_to 'Export users',
                  users_path(format: 'xlsx'),
                  id: 'export-xlsx-link',
                  class: 'm-2 fixed-bottom btn btn-success text-white' %>
    </div>
  </div>
  <p id="notice"><%= notice %></p>

  <div class="row">
    <div class="col-xl-3">
      <span disabled id="cities-filter-status" data-filter-status='<%= params[:city_ids] %>'></span>
      <span disabled id="seniorities-filter-status" data-filter-status='<%= params[:seniorities] %>'></span>
      <%= render 'cities/all_cities', cities: @filters['cities'] %>
      <%= render 'users/seniorities', seniorities: @filters['seniorities'] %>
    </div>
    <div class="col-xl-9">
      <h1 class="text-center"><%= t '.header' %></h1>
      <%= form_with url: search_users_path do |form| %>


       <div class="container my-4">
         <div class="input-group">
           <%= form.text_field 'query', placeholder: "#{t '.search_placeholder'}...",
                                                class: 'form-control rounded' %>
           <%= form.submit t('.search_button'), class: 'btn btn-outline-primary',
                                                data: { disable_with: false } %>
         </div>
       </div>
      <% end %>

      <%= render 'users/listing', users: @users %>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'users/index' %>
