<p id="notice"><%= notice %></p>

<p>
  <strong>Filename:</strong>
  <%= @item.file_name %>
  <%= @item.updated_at %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
