<div id="cities-filter" class="filter">
  <h6><%= t '.city_filter' %></h6>
  <div data-controller='toggle-menu'
       data-toggle-menu-visibility-value='false'
       data-toggle-menu-more-button-value="<%= t(".show_more_button") %>"
       data-toggle-menu-less-button-value="<%= t(".show_less_button") %>">
    <% cities.each do |key, filter| %>
      <%= render 'cities/city_row', key: key, filter: filter %>
    <% end %>
    <%= render 'shared/toggle_menu_buttons' %>
  </div>
</div>
